  .robot-container {
  height: 500px; /* adjust to control the size  */
  width: 575px;
  aspect-ratio: 1/cos(30deg);
  clip-path: polygon(50% -50%,100% 50%,50% 150%,0 50%);
  background: #69ec4e;
  position:relative;
  margin-top: 250px;
  margin-left: 600px;
 }

.robot-face-shape {
  --b: 30px; /* adjust to control the border  */
  height: 500px; /* adjust to control the size  */
  aspect-ratio: 1/cos(30deg);
  clip-path: 
    polygon(0 50%,50% -50%,100% 50%,50% 150%,0 50%,
    var(--b) 50%,
    calc(25% + var(--b)*cos(60deg)) calc(100% - var(--b)*sin(60deg)),
    calc(75% - var(--b)*cos(60deg)) calc(100% - var(--b)*sin(60deg)),
    calc(100% - var(--b)) 50%,
    calc(75% - var(--b)*cos(60deg)) calc(var(--b)*sin(60deg)),
    calc(25% + var(--b)*cos(60deg)) calc(var(--b)*sin(60deg)),
    var(--b) 50%);
  background: #03aec5;
}

.robot-eye-left {
position: relative;
 height: 140px;
 width: 60px;
 top: 250px;
 left: 600px;
 color: magenta;
}

.robot-eye-right {
}

.robot-ear-left {
}

.robot-ear-right {
}

.robot-nose {
}

.robot-teeth {
}

.robot-tooth {
}

.robot-hair-style {
}

.robot-hair-one {
}

.robot-hair-two {
}

.robot-hair-three {
}
